!!!
%html
  %head
    %meta{ charset: "utf-8" }
    %meta{ content: "IE=edge,chrome=1", http: { equiv: "X-UA-Compatible" } }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }
    %title Unique Characters
    = favicon_tag "favicon.png"
    = stylesheet_link_tag "application"
    = partial "layouts/theme_styles"

  %body
    .theme-gold{ data: { theme_class: true } }
      = partial "layouts/info"
      .main-wrapper
        .main-overlay{ data: { main_overlay: true, info_hide: true } }
        = partial "layouts/filter_nav"
        %main
          = partial "layouts/header"
          = yield

    = javascript_include_tag "https://code.jquery.com/jquery-2.1.1.min.js"
    = javascript_include_tag "application"
    = partial "layouts/google_analytics"
