.character-tile-wrapper
  = link_to url, class: "character-tile", target: "_blank" do
    .character-tile__character
      = image_tag svg, class: "svg"
    .character-tile__meta
      %time= DateTime.parse(date).strftime('%m.%d.%Y')
      %span= typeface
    .character-tile__arrow
      = svg "arrow"
