%nav
  %ul.filters
    - sorted_tags = Hash[ data.space.tags.sort_by { |id, tag| tag.character } ]
    - sorted_tags.each do |id, tag|
      %li.filter
        - characters_for_tag = data.space.characters.select{ |id, character| character.tag.character == tag.character }
        - characters_for_tag_count = characters_for_tag.count

        - if characters_for_tag_count > 0
          = link_to tag.character, "/tags/#{tag.character}.html",
            class: "filter__link #{ 'current' if "/tags/#{tag.character}.html" == current_page.url }"
        - else
          = tag.character
