.info
  .info__content
    %h2 Unique Characters
    %p A catalogue of characters with quirky attributes.
    %small
      Built by #{ link_to "Ali Aas", "http://ali-aas.com", target: "_blank" }
      using #{ link_to "Middleman", "https://middlemanapp.com", target: "_blank" }
      and #{ link_to "Netlify", "https://www.netlify.com", target: "_blank" }.
      Please submit issues on #{ link_to "GitHub", "https://github.com/alexandra-aas/unique_characters/issues", target: "_blank" }.
  = link_to "Submit Your Own", submit_form_path, class: "button", target: "_blank"
