.character-tile-wrapper
  = link_to article.data.website_url, class: "character-tile", target: "_blank" do
    .character-tile__character
      = partial "assets/svg/#{article.date.strftime('%m%d%y')}"
    .character-tile__meta
      .character-tile__time= article.date.strftime('%m.%d.%Y')
      .character-tile__typeface= article.title
    .character-tile__arrow
      %i.material-icons call_made
